<div class="col-md-6 offset-md-3">
  <h3>Update artist details:</h3>

  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label> First Name </label>
      <input type="text" class="form-control" id="firstName" [(ngModel)]="artist.firstName" name="firstName">
    </div>

    <div class="form-group">
      <label> Last Name </label>
      <input type="text" class="form-control" id="lastName" [(ngModel)]="artist.lastName" name="lastName">
    </div>

    <div class="form-group">
      <label> Email </label>
      <input type="text" class="form-control" id="email" [(ngModel)]="artist.email" name="email">
    </div>

    <div class="form-group">
      <label> Nickname </label>
      <input type="text" class="form-control" id="nickname" [(ngModel)]="artist.nickname" name="nickname">
    </div>

    <div class="form-group">
      <label> Phone number </label>
      <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="artist.phoneNumber" name="phoneNumber">
    </div>

    <div class="container-fluid">
      <button class="btn btn-success" type="sumbit">Update</button>
    </div>

  </form>
</div>
