<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav d-flex flex-row">
      <li class="nav-item">
        <a routerLink="home" routerLinkActive="active" class="navbar-brand" routerLinkActive="active">
          <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.webp" height="20" alt=""
            loading="lazy" />
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="artists" routerLinkActive="active" class="nav-link"> Artists </a>
      </li>
      <li class="nav-item">
        <a routerLink="create-artist" routerLinkActive="active" class="nav-link"> Add Artist </a>
      </li>
      <li class="nav-item">
        <a routerLink="events" routerLinkActive="active" class="nav-link"> Events </a>
      </li>
      <li class="nav-item">
        <a routerLink="create-event" routerLinkActive="active" class="nav-link"> Add Event </a>
      </li>
    </ul>
  </div>
</nav>

<h1 class="text-center"> {{title}} </h1>


<div class="container">
  <footer class="footer">
    <span> @HertzTV 2022 </span>
  </footer>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
